<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>律动学生版</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.dayaokeji.rhythmStudent</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.14</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0.13</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Launch image(iPhone)</key>
	<string>LaunchImage</string>
	<key>MOBAppKey</key>
	<string>188e5c17fb934</string>
	<key>MOBAppSecret</key>
	<string>9e4b99c7e6e1e814c6988dc3a834226d</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>jpush.cn</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>请允许使用相机，采集你的照片信息，方便签到拍照上传和一些资料的上传</string>
	<key>NSContactsUsageDescription</key>
	<string>请允许使用通讯录，方便我们进行识别用户</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>请允许访问您的地理位置，方便我们考勤定位，不然容易打卡失败</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>请允许使用麦克风，方便我们进行语音沟通</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>请允许使用相册，方便你在上传资料的时候找到对应的资料</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>请允许使用语音识别，方便我们对您的身份进行确定</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
