<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>湘潭大学</key>
	<string>http://xtu.api.dayaokeji.com/</string>
	<key>无</key>
	<string>http://api.dayaokeji.com/</string>
</dict>
</plist>
